@mixin desktop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin fadeIn($duration, $delay) {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: $duration;
  animation-delay: $delay;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin fadeOut($duration, $delay) {
  animation-name: fade-out;
  animation-fill-mode: both;
  animation-duration: $duration;
  animation-delay: $delay;

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}